.backdrop,
.header .header-btn,
.main-nav .menu-close,
.header .search-open,
.main-nav a::after,
.about-more a,
.about-more a:hover,
.arrow-box,
.btn-circle,
.about-social,
.about-section-title::after,
.resume-download a,
.resume-download a:hover,
.qualities-title::after,
.progress-bar > span,
.timeline-title::after,
.filter li a::after,
.portfolio-intro-image a,
.portfolio-intro-image a:hover,
.portfolio-intro-detail a,
.portfolio-intro-detail a:hover,
.portfolio-more a,
.portfolio-more a:hover,
.portfolio-all a:hover span,
.btn-custom,
.btn-custom:hover,
.timeline-time,
.footer,
.back-to-top-wrapper a,
.back-to-top-wrapper a:hover,
.owl-theme .owl-controls .owl-page span {
    background-color: #0EB57D !important;
}

.btn-custom:hover,
.site-logo a,
.main-nav a.active-nav,
.main-nav a:hover,
.about-social a:hover,
.block-title,
.btn-circle:hover,
.qualities-icon,
.about-name,
.timeline-badge > a,
.filter li a:hover,
.filter li a.active,
.reference-author,
#c-form-spinner,
.alert-title,
.single-portfolio-demo-link a,
.single-portfolio-demo-link a:hover,
.single-sidebar a:hover,
.color-scheme-select-btn {
    color: #0EB57D !important;
}

blockquote,
.backdrop,
.preloader .spinner-layer,
.main-nav a.active-nav,
.main-nav a:hover,
.c-form-input:hover,
.c-form-input:focus,
body .color-scheme-select,
.color-scheme-select-btn {
    border-color: #0EB57D !important;
}

body .arrow-box::before,
.timeline-panel .timeline-time::before {
    border-left-color: #0EB57D !important;
}

.search-form .search-field:focus:not([readonly]),
.input-field input:focus:not([readonly]),
.input-field textarea:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #0EB57D !important;
    -moz-box-shadow: 0 1px 0 0 #0EB57D !important;
    box-shadow: 0 1px 0 0 #0EB57D !important;
}